.text-overflow__multiple {
  word-break: break-all;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}

.text-overflow__single {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-overflow {
  position: relative;
  overflow: hidden;
  white-space: nowrap;
}

.text-overflow__shadow {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff);
}
